<!DOCTYPE html>
<html>
    <head>
        <title>Appointment</title>
    </head>
    <body>
        <h1>choose your Appointment</h1>
      

 time:
<input type="text" name="time" required />
<br><br>
date: 
<input type="text" name="date" required />
<br><br>
patient:
<input type="text" name="patient" required />
<br><br>
doctor:
<input type="text" name="doctor" required />
<br><br>

<button>done</button>
</form>

 <a href="/Doctors">Back</a>

    </body>
</html>
