<!DOCTYPE html>
<html>
    <head>
        <title>doctors</title>
    </head>
    <body>
        <h1>choose your doctor</h1>
      

name:
<input type="text" name="name" required />
<br><br>
specialty:
<input type="text" name="specialty" required />
<br><br>
experience:
<input type="text" name="experience" required />
<br><br>

<button>done</button>
</form>

 <a href="/specialty">Back</a>

    </body>
</html>
