<h1>Doctors - <%= specialty %></h1>

<ul>
  <% doctors.forEach(d => { %>
    <li>
      <b><%= d.name %></b> | <%= d.experience %> years
      <a href="/appointments/new/<%= d._id %>">Book</a>
    </li>
  <% }) %>
</ul>

<a href="/specialties">Back</a>
