<h1>HOME</h1>
<ul>
    <li><a href='/specialties'>Appointments</a></li>
     <li><a href="#">Sponsors</a></li>
      <li><a href="#">Job Fair</a></li>
       <li><a href="#">Emergency</a></li>
</ul>
<a href="/auth/Logout">Logout</a>
