<!DOCTYPE html>
<html>
    <head>
        <title>create your personal account</title>
    </head>
    <body>
        <h1>profile</h1>
      

name:
<input type="text" name="name" required />
<br><br>
age:
<input type="text" name="age" required />
<br><br>
gender:
<input type="text" name="gender" required />
<br><br>
 phonenumber: 
<input type="text" name="phonenumber" required />
<br><br>
email:
<input type="text" name="email" required />
<br><br>


<button>create</button>
</form>

 <a href="/Home">Back</a>

    </body>
</html>
