<!DOCTYPE html>
<html>
<head>
  <title>Specialties</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<h1>Specialties</h1>

<ul>
  <% specialties.forEach(s => { %>
    <li>
      <a href="/doctors/<%= s %>"><%= s %></a>
    </li>
  <% }) %>
</ul>

<a href="/home" class="back">Back</a>

</body>
</html>
